<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right" id="nav-logo"><img height="60px" width="60px" src="../../assets/star-wars.jpg"/></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li class="active"><a [routerLink]="['/principal']">Principal</a></li>
        <li><a [routerLink]="['/films']">Peliculas</a></li>
        <li><a [routerLink]="['/people']">Personajes</a></li>
        <li><a [routerLink]="['/starships']">Naves</a></li>
        <li><a [routerLink]="['/vehiculos']">Vehiculos</a></li>
        <li><a [routerLink]="['/species']">Especies</a></li>
        <li><a [routerLink]="['/planets']">Planetas</a></li>
      </ul>
    </div>
  </nav>
</div>