<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right" id="nav-logo"><img height="60px" width="60px" src="../../assets/star-wars.jpg"/></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li class="active"><a [routerLink]="['/dashboard']">Principal</a></li>
        <li><a [routerLink]="['/dashboard2']">Personales</a></li>
        <li><a [routerLink]="['/dashboar3']">Naves</a></li>
        <li><a [routerLink]="['/dashboard4']">Vehiculos</a></li>
      </ul>
    </div>
  </nav>
</div>