<div class="container">
  <div class="row people-title">
    <h1>Personajes Star Wars</h1>
  </div>
  <div class="row">
    <div class="col s4" *ngFor="let person of people">
          <div class="card">
            <div class="card-content">
              <div style="text-align: center;color:beige;">
                <i class="medium material-icons">account_box</i>
              </div>
              <h2 >{{person.name}}</h2>
              <hr>
              <div *ngIf="person?.gender != 'n/a'">
                <span>Genero: </span><span>{{person.gender | titlecase }}</span>
              </div>
              <div *ngIf="person?.height != 'n/a'">
                <span>Altura: </span><span>{{person.height | titlecase }} cm</span>
              </div>
              <div *ngIf="person?.hair_color != 'n/a'">
                <span>Color Cabello: </span><span>{{person.hair_color | titlecase }}</span>
              </div>
              <div *ngIf="person?.birth_year != 'n/a'">
                <span>Fecha Nacimiento: </span><span>{{person.birth_year }}</span>
              </div>
              <div>
                <h4>Peliculas</h4>
                <span *ngFor="let film of person.films">{{film}}<br></span>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
